html {
  width: 960px;
  align-items: center;
  justify-content: center; 
  margin: auto;
}
ul {
  /* background-color: blueviolet; */
  display:flex;
  align-items: right;
  justify-content:flex-end;
  padding: 25px 0px 25px 0px;
} 

#navi {
  padding:0px 10px 0px 10px ;
  font-family: 'megrim';
}

#nav{
  background: none;
  color: #ffa260;
  border: 2px solid;
}

a {
  text-decoration: none;
  color: #ffa260;
  transition: all 0.2s;
  font-size: larger;
  font-family: 'megrim';
}


a:hover {
  border-color: #f1ff5c;
  color:  #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}
body {
  color: white;
  font-family: 'raleway', sans-serif;
  /* display: flex; */
  align-items: center;
  justify-content: center; 
  /* height: 100vh;  */
  width: 960px;
  background-color: #151b29;
  background-image: url(https://images.unsplash.com/photo-1621246159024-e53b1d25fc1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
}

.oval{
  /* width: 160px; */
  /* height: 80px; */
  background:purple;
  border-radius: 50%;
}

#jovincent {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 40px 0px 25px 0px;
  font-family: 'raleway', sans-serif;
}

#bryce {
  display: flex;
  align-items: right;
  padding: 40px 0px 25px 0px;
  margin-left: 0px;
  justify-content:flex-end;
  flex-direction: row-reverse;
  font-family: 'raleway', sans-serif;
}

#angela {
  display: flex;
  align-items: left;
  justify-content: left;
  padding: 40px 0px 25px 0px;
  font-family: 'raleway', sans-serif;
}

#david {
  display: flex;
  align-items: right;
  padding: 40px 0px 25px 0px;
  margin-left: 0px;
  justify-content:flex-end;
  flex-direction: row-reverse;
  font-family: 'raleway', sans-serif;
}

img {
  max-height: 200px;
  max-width: 1500px;
  height: auto;
  width: auto;
  border-radius: 80px;
}