body {
  color: white;
  font-family: 'raleway';
  /* display: flex; */
  align-items: center;
  justify-content: center; 
  height: 100vh; 
  background-color: #151b29;
  background-image: url(https://images.unsplash.com/photo-1621246159024-e53b1d25fc1d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2134&q=80);
}



ul {
  /* background-color: blueviolet; */
  display:flex;
  align-items: right;
  justify-content:flex-end;
  padding: 25px 0px 25px 0px;
} 

#navi {
  padding:0px 10px 0px 10px ;
  text-decoration: none;
  color: #ffa260;
  transition: all 0.2s;
  font-size: larger;
  font-family: 'megrim';
}

#nav{
  background: none;
  color: #ffa260;
  border: 2px solid;
}

/* a {
  text-decoration: none;
  color: #ffa260;
  transition: all 0.2s;
  font-size: larger;
} */


#navi:hover {
  border-color: #f1ff5c;
  color:  #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

/* #mainButton.a:hover {
  border-color: #f1ff5c;
  color:  #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.9em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
} */

#images {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0px 25px 0px;
}

img{
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
  transition: all 0.2s;
}

img:hover{
  -webkit-transform: scale(1.3);
  -ms-transform: scale(1.3);
  transform: scale(1.3);
}

.question{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;
  height: 750px;
  width: 750px;
  font-family: 'raleway';
  /* background-color: crimson; */
}


button {
  background: none;
  color: #ffa260;
  border: 2px solid;
  padding: 0.6em 4em;
  transition: all 0.2s;
  font-family: 'megrim';
  font-size: large;
}

button:hover {
  border-color: #f1ff5c;
  color:  #f1ff5c;
  box-shadow: 0 0.5em 0.5em -0.4em #f1ff5c;
  transform: translateY(-0.25em);
  cursor: pointer;
}

#button {
  display:flex;
  align-items:center;
  justify-content: center;
}

.hide {
  display: none;
}

#savedLists {
  /* text-decoration: none; */
  list-style-type: none;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  margin: auto;
  height: 750px;
  width: 1600px;
  font-family: 'raleway';
}

footer {
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  height: 50px;
  /* border: 1px solid red; */
  padding: 70px;
  color: rgba(255, 255, 255, 0.705);
  font-family: 'megrim';
}

footer p {
  padding: 10px;
  position: relative;
  bottom: 20px;
  width: 180px;
}

footer hr {
  border: 1px solid #ffa260;
  width: 100%;
  margin: 0px;
  padding: 0px;
  height: 0px;
}

/* #profileBody{
  background-image: url(purple)
} */